html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Georgia', serif;
	line-height: 1.6;
	color: #2d2d2d;
	background: #fafbf4;
}

a {
	color: #07c;
}

.wrap {
	width: 960px;
	margin: 0 auto;
}

.g-header {
	padding: 80px 0;
}
.g-header h1 {
	font-size: 36px;
	font-family: 'Georgia', serif;
	font-weight: normal;
	color: #165e83;
	line-height: 1;
}

.mod-map {
	margin: 60px 0;
	padding: 60px 30px;
	background: #c1e4e9;
	background: -moz-linear-gradient(#89c3eb, #c1e4e9);
	background: -webkit-linear-gradient(#89c3eb, #c1e4e9);
	background: -o-linear-gradient(#89c3eb, #c1e4e9);
	background: -ms-linear-gradient(#89c3eb, #c1e4e9);
	background: linear-gradient(#89c3eb, #c1e4e9);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.g-footer {
	padding: 80px 0 40px;
	text-align: right;
}
